html {
 background-image: url("thinking\ critically\ background\ .jpg");
 background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: 0;
  position: fixed;
  display: block;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.site-header {
  text-align: center;   /* centers the image */
  margin-top: 20px;
}


