html {
 background-image: url("thinking\ critically\ background\ .jpg");
 background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: 0;
  position: fixed;
  display: block;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.flex {
  display: flex;
}

.terms {
  flex: 33%;
  padding: 40px 20px;
}

.terms p {
  font-family: "ChalkboyRegular", serif; 
  font-size: 60px;                     
  line-height: 1.4;
  margin: 0 0 16px 0;
  text-transform: uppercase;          
}

@font-face {
  font-family: "ChalkboyRegular";
  src: url("ChalkboyRegular-vmXe7.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
.site-header {
  text-align: center;   /* centers the image */
  margin-top: 20px;
}

section {
  width: 340px;
  height: 440px;
  background-image: url("/images/1x/Asset\ 1.png");
  background-size: contain;
  background-repeat: no-repeat;
}


@font-face {
  font-family: "Kg No Regrets Sketch";
  src: url("KgNoRegretsSketch-5rKZ.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

section p {
  padding: 10px;
  margin-top: 70px;
  font-family: "Kg No Regrets Sketch", sans-serif;
  font-size: larger;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  flex: 65%;
  height: 100vh;        /* constrain height */
  overflow-y: auto;    /* enable scrolling */
  padding: 20px;
  box-sizing: border-box;
}

.response-container {
  display: flex; /* or display: grid; with grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
  flex-wrap: wrap;
  gap: 20px; /* Space between the boxes */
  justify-content: center; /* Center boxes within container */
}

.response-box {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px; /* Rounded corners */
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Add subtle shadow */
  width: 300px; /* Adjust width as needed, especially with flexbox */
  box-sizing: border-box; /* Ensures padding/border are included in width calculation */
  max-height: 250px;      /* control box height */
  overflow-y: auto; 
}

.response-box p {
  margin: 0 0 10px; /* Space between paragraphs within the box */
}

.response-box p:last-child {
  margin-bottom: 0; /* Remove margin from last paragraph */
}
