a {
    text-decoration: none;

}


/* body*/

#arrows {
    width: 150px;
    margin-left: -30px;
    transform: rotate(-30deg);

}

.main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: auto;
}

#magnify {
  bottom: -30px;
  left: -70px; 
  width: 380px;
}

#notepad {
  bottom: -40px;
  left: -5px;
  width: 580px;
}

#camera {
  bottom: -220px;
  left: 590px;
  width: 550px;
}

#watch {
  bottom: -130px;
  left: 1180px;
  width: 320px;
}

#pen {
  bottom: 150px;
  right: -10px;
  width: 200px;
}

.bottom-icon {
  width: 370px;
  display: block;
  Position: fixed;
}

.bottom-icons img:hover {
  transform: scale(1.05);
  opacity: 70%;
  
}

#button {
  width: 400px;
 
}

.buttonanimation img {
  display: block;
  margin: auto;
  margin-top: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  
}

.buttonanimation:hover {
  transform: scale(1.05);
}

.buttonanimation:active {
  transform: scale(0.95);
}

.main div {
    border: 1px solid black;
}

p {
    text-align: center;
    font-size: 50px;
}

.grid {
    z-index: 100;
}

html {
 background-image: url("thinking\ critically\ background\ .jpg");
 background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: 0;
  position: fixed;
  display: block;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.site-header {
  text-align: center;   /* centers the image */
  margin-top: 20px;
}


.site-title img {
  max-width: 600px; 
  object-fit: contain;
  width: 100%;
  height: auto;
    display:block;
    margin: auto;
    margin-top: -150px;
}

.site-header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 20px 40px;
  border-bottom: 1px solid #ddd;
  font-family: sans-serif;
}

.header-left {
  text-align: left;
  padding-top: 40px;
  padding-left: 70px;
  font-weight: 600;
  font-size: 35px;
  font-family: "Kg No Regrets Sketch";
}

@font-face {
  font-family: "Kg No Regrets Sketch";
  src: url("KgNoRegretsSketch-5rKZ.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.icon {
  width: 24px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

#about-link {
  margin-right: 20px;
}

.header-center {
  margin-left: 20px;
}

.header-center a {
  margin-left: 20px;
  text-decoration: none;
  color: black;
  font-weight: 500;
}


.header-right {
  text-align: right;
  font-weight: 600;
}

.header-btn {
  padding: 6px 12px;
  border: 1px solid black;
  background: none;
  cursor: pointer;
  margin-right: 10px;
}

.contribute {
  font-weight: 600;
  cursor: pointer;
}
